*{
    box-sizing: border-box;
}

@font-face {
    font-family: Modern;
    src: url('../../fonts/Kollektif.ttf');
}

html{
    margin: 0;
    padding: 0;
}

body{
    margin: 0 auto;
    background-image: url('../../img/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header{
    display: block;
    width: 100%;
    height: auto;
}

a:link, a:visited, a:active{
    color: black;
    text-decoration: none;
}

.menu{
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: black;
    padding: 15;
}

.menu a{
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgb(255, 208, 0);
    border-radius: 5px;
    color: rgb(255, 208, 0);
    float: right;
    font-family: Modern;
    font-size: 30px;
    margin: 5px 5px;
    padding: 14px 16px;
}

.welcome-img{
    max-width: 100%;
    height: auto;
}

.main_title{
    background-color: rgba(177, 177, 177, 0.1);
    backdrop-filter: blur(15px);
    border: 3px solid rgb(255, 208, 0);
    border-radius: 10px;
    padding: 1;
    position: relative;
    font-size: 30px;
    font-family: Modern;
    width: 350px;
    height: auto;
    color: rgb(255, 208, 0);
    transform: translate(230%, -230%);
    text-align: center;
}

.section_titles{
    position: absolute;
    font-size: 50px;
    font-family: Modern;
}

.sub_section_titles{
    position: absolute;
    font-size: 30px;
    font-family: Modern;
}

.about_title{
    left: 46%;
    margin-top: -50px;
}

.skills_title{
    left: 48%;
    margin-top: -50px;
}

.project_title{
    left: 47%;
    margin-top: -50px;
}

.sub_project_title{
    left: 43%;
    margin-top: -50px;
}

.about_grid{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 70px;
    padding: 10;
}

.about_grid > div{
    font-size: 30px;
    font-family: Modern;
    margin: 100px;
    max-width: 700px;
}

.about_grid > div > p{
    font-family: Modern;
    font-size: 23px;
    color: black;
}

.down_cv{
    background-color: rgb(255, 208, 0);
    border: 2px solid black;
    border-radius: 20px;
    padding: 12px 30px;
    margin-left: 30%;
    float: left;
}

.view_cv{
    margin-left: 34.5%;
}

.down_cv:hover{
    background-color: rgb(209, 171, 0);
}

.about_grid > div > img{
    border: 3px solid black;
}

.skills_img_container{
    width: 80%;
    margin-left: 19%;
}

.skills_desc > p{
    font-family: Modern;
    font-size: 23px;
    color: black;
    text-align: center;
}

.skills_grid{
    padding: 0 6px;
    float: left;
    width: 17.99999%;
    margin-bottom: 80px;
}

div.skills_grid img{
    height: 12%;
    width: auto;
}

.go_img{
    padding: 0 6px;
    float: left;
    width: 17.99999%;
    margin-bottom: 80px;
}

div.go_img img{
    margin-top: 20px;
    margin-left: -40px;
    width: 70%;
    height: auto;
}

.project_desc{
    font-family: Modern;
    font-size: 23px;
    color: black;
    text-align: center;
    margin-left: 80px;
}

.project_img_class{
    width: 40%;
    position: absolute;
    margin-bottom: 30px;
    margin-top: 50px;
    left: 32%;
}

.prev, .next{
    width: 100px;
    height: auto;
    position: absolute;
    left: 15%;
    margin-top: 15%;
}

.next{
    left: 83%;
}

.tech{
    position: absolute;
    width: 400px;
    left: 44%;
    margin-top: 10px;
    margin-bottom: 20px;
}